{% extends 'base.html' %}
{% load static %}
{% block header %}
<div class="header-wrap container-fluid">
    <div class="header-logo container-fluid">
        <img class="logo-pic" src="{% static 'images/WeThePeopleLogo.png' %}">
    </div>

    <div class="navbar-wrap container-fluid">
        <nav class="nav-main navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Navbar</a>

            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="vote.html">Vote</a>
                    </li>

                </ul>

            </div>

            <form class="form-inline">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Register</a>
                    </li>

                </ul>
            </form>
        </nav>
    </div>

</div>
{% endblock %}