{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}
    <script>
        // Set the date we're counting down to
        var countDownDate = new Date("Nov 30, 2020 07:00:00").getTime();

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Output the result in an element with id="demo"
            document.getElementById("count").innerHTML = days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";

            // If the count down is over, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("count").innerHTML = "EXPIRED";
            }
        }, 1000);
    </script>

    <div class="body-wrap container-fluid">
        <div class="count-down-wrap container-fluid">
            <div class="count-down-body container-fluid">
                <div class="count-down-header container-fluid">
                    <h1>Election Day Starts In</h1>
                </div>
                <div class="count-down-timer container-fluid">
                    <p id="count"></p>
                </div>
                <div class="election-date-timer container-fluid">
                    November 3rd, 2020
                </div>
                <div class="ready-to-vote container-fluid">
                    Ready to Vote?
                </div>
                <div class="election-date-timer container-fluid">
                    <button type="button" class="btn btn-primary start-here-btn">Start Here</button>
                </div>
                <div class="or">or</span>
                    <div class="election-date-timer container-fluid">
                        <button type="button" class="btn btn-primary start-here-btn">Already Registered</button>
                    </div>
                    Calendar - <i class="icon-calendar-empty"></i>
                </div>
            </div>

        </div>

        <div class="footer container-fluid"> Voting System Copyright</div>

    </div>

{% endblock %}